{% extends "base.html" %}

{% block title %}
    VALEXYA ICHIM S.R.L. - Editare mașină
{% endblock %}

{% block content %}
  <div id="session-page" data-page="{{ request.session.page }}"></div>
  {% block js %}
    <script src="{{ js }}tables.js"></script>
  {% endblock %}

  {% block css %}
    <link rel="stylesheet" href="{{ css }}data_tables.css">
  {% endblock %}

  <div class="row"> 
    <div class="col-md-12">
      {% if message %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
      <div class="row mb-5">
        <div class="col-md-12 d-flex align-items-center">
            <h2 class="m-0 me-4" style="font-size: 24px; color: var(--blue);">Vezi situația</h2>
            <a href="#" class="btn btn-primary bg-valexya border-valexya me-2">Zilnică</a>
            <a href="#" class="btn btn-primary bg-valexya border-valexya me-2">Săptămânală</a>
            <a href="#" class="btn btn-primary bg-valexya border-valexya me-2">Lunară</a>
            <a href="#" class="btn btn-primary bg-valexya border-valexya">Anuală</a>
            <form class="d-flex ms-auto" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-primary bg-valexya border-valexya" type="submit">Search</button>
            </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex">
          <div class="card card-stats mb-4 shadow flex-fill">
            <img src="/static/assets/imgs/scania-2.jpeg" class="card-img-top" alt="scania" style="border-radius: 0px 0px 20px 20px;">
            <div class="card-body">
              <div class="row bg-light shadow p-2 mb-3" style="border-radius: 5px;">
                <div class="col my-auto">
                  <span class="fw-semibold text-muted text-uppercase">Nr. inmatriculare</span><br>
                  <div class="d-inline-flex align-items-center">
                    <div class="plate-number">
                      <img src="/static/assets/imgs/ro-europe.png" class="card-img-top" alt="ro-europe">
                      <h3 class="text-center m-0">{{ car.plate_number }}</h3>
                    </div>
                  </div>
                </div>
                <div class="col-auto my-auto">
                  {% if car.drivers.all.count == 0 %}
                  <span class="fs-4 d-flex align-items-center text-danger"><i class="fas fa-id-card fs-2"></i><span class="ms-2 text-uppercase fw-medium">Șofer / șoferi lipsă</span></span>
                  {% elif car.drivers.all.count >= 1 %}
                    {% for driver in car.drivers.all %}
                      <span class="fs-4 d-flex align-items-center"><i class="fas fa-id-card fs-2"></i><span class="ms-2 text-uppercase fw-medium">{{ driver.full_name }}</span></span>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class="row bg-light shadow p-2 mb-3" style="border-radius: 5px;">
                <div class="col">
                  <span class="fw-semibold text-muted text-uppercase">Venituri</span><br>
                  <div class="d-inline-flex align-items-center">
                    <span class="text-success me-2"><i class="fas fa-arrow-up"></i> 3.48%</span>
                  </div>
                </div>
                <div class="col-auto d-flex align-items-center">
                  <span class="fs-4 d-flex align-items-center"><i class="fas fa-euro-sign"></i><span class="ms-2 fs-4 fst-italic">{{ car.total_incoming_value }}</span></span>
                </div>
              </div>
              <div class="row bg-light shadow p-2 mb-3" style="border-radius: 5px;">
                <div class="col">
                  <span class="fw-semibold text-muted text-uppercase">Cheltuieli</span><br>
                  <div class="d-inline-flex align-items-center">
                    <span class="text-danger me-2"><i class="fas fa-arrow-down"></i> 1.24%</span>
                  </div>
                </div>
                <div class="col-auto d-flex align-items-center">
                  <span class="fs-4 d-flex align-items-center"><i class="fas fa-euro-sign"></i><span class="ms-2 fs-4 fst-italic">{{ car.total_outgoing_value }}</span></span>
                </div>
              </div>
              <div class="row bg-light shadow p-2" style="border-radius: 5px;">
                <div class="col">
                  <span class="fw-semibold text-muted text-uppercase">Balanță</span><br>
                  <div class="d-inline-flex align-items-center">
                    <span class="text-danger me-2"><i class="fas fa-arrow-down"></i> 1.24%</span>
                  </div>
                </div>
                <div class="col-auto d-flex align-items-center">
                  <span class="fs-4 d-flex align-items-center"><i class="fas fa-euro-sign"></i><span class="ms-2 fs-4 fst-italic">{{ car.total_profit_value }}</span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-6 d-flex">
          <div class="card bg-light mb-4 shadow flex-fill" style="border-radius: 20px;">
            <div class="card-header py-3 shadow">
              <h2 class="m-0" style="font-size: 24px; color: var(--blue);">Adaugă o factură pe mașină</h2>
            </div>
            <div class="card-body">
              <form hx-post="{% url 'edit-car' id=request.session.entity %}" hx-target="body .container-fluid">
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <label for="client" class="form-label">Client</label>
                    <select class="form-select form-select-md" name="client">
                      <option value="" selected>Selecteaza un client</option>
                      {% for client in clients %}
                        <option value="{{ client.id }}">{{ client.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-2 mb-3">
                    <label for="series" class="form-label">Serie</label>
                    <input type="text" class="form-control" name="series" required>
                  </div>
                  <div class="col-md-2 mb-3">
                    <label for="number" class="form-label">Număr</label>
                    <input type="number" class="form-control" name="number" required>
                  </div>
                  <div class="col-md-2 mb-3">
                    <label for="emit_date" class="form-label">Data emiterii</label>
                    <input type="date" class="form-control" name="emit_date" value="{{ emit_date|date:'Y-m-d' }}">
                  </div>
                  <div class="col-md-2 mb-3">
                    <label for="due_date" class="form-label">Data scadenței</label>
                    <input type="date" class="form-control" name="due_date" value="{{ due_date|date:'Y-m-d' }}">
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="category" class="form-label">Tip factura</label>
                    <select class="form-select form-select-md" id="category" name="category" required>
                      <option value="incoming" selected>Venit</option>
                      <option value="outgoing">Cheltuială</option>
                    </select>
                  </div>
                  <div class="col-md-4 mb-3" id="col_expense_category" style="display: none;">
                    <label for="expense_category" class="form-label">Tip cheltuiala</label>
                    <select class="form-select form-select-md" id="expense_category" name="expense_category">
                      <option value="" selected>Selecteaza chetuiala</option>
                      {% for expense in expense_categories %}
                        <option value="{{ expense.id }}">{{ expense.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-select form-select-md" name="status">
                      <option value="issued" selected>Emisă</option>
                      <option value="collected">Încasată</option>
                      <option value="paid">Plătită</option>
                      <option value="exceed">Depașită</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2 mb-3">
                    <label for="value" class="form-label">Valoare</label>
                    <input type="number" class="form-control" name="value" required>
                  </div>
                  <div class="col-md-2 mb-3">
                    <label for="currency" class="form-label">Moneda</label>
                    <select class="form-select form-select-md" name="currency" required>
                      <option value="ron" selected>RON</option>
                      <option value="eur">EURO</option>
                    </select>
                  </div>
                </div>
                  <div class="row">
                  <div class="col-md-7">
                    <label for="description" class="form-label">Descriere</label>
                    <textarea class="form-control" style="height: 250px;" name="description" placeholder="Introdu aici descrierea"></textarea>
                  </div>
                </div>  
                <button type="submit" class="btn btn-primary bg-valexya border-valexya mt-3 me-2">Adaugă factura pe mașină</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-8 d-flex">
            <div class="card card-stats shadow flex-fill">
                <div class="card-body filterable">
                    <div class="d-flex align-items-center mb-5">
                        <h2 class="m-0" style="font-size: 24px; color: var(--blue);">
                            Cheltuieli <span class="text-danger mr-2"><i class="fas fa-arrow-down" style="font-size: 24px;"></i></span>
                        </h2>
                        <button class="btn btn-primary bg-valexya border-valexya btn-filter ms-auto"><i class="fas fa-search"></i> Cautare</button>
                    </div>
                    <table class="table table-responsive" id="tabel-cheltuieli">
                        <thead>
                            <tr class="filters">
                                <th><input type="text" class="form-control" placeholder="Client" disabled></th>
                                <th><input type="text" class="form-control" placeholder="Descriere" disabled></th>
                                <th><input type="text" class="form-control" placeholder="Data" disabled></th>
                                <th><input type="text" class="form-control" placeholder="Suma" disabled></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for invoice_car in invoices_car %}
                                {% if invoice_car.invoice.category == 'outgoing' %}
                                    <tr>
                                        <td>{{ invoice_car.invoice.client }}</td>
                                        <td>{{ invoice_car.invoice.description }}</td>
                                        <td>{{ invoice_car.invoice.emit_date|date:"d.m.Y" }}</td>
                                        <td>{{ invoice_car.invoice.value }} {{ invoice_car.invoice.currency|upper }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <div class="card card-stats shadow flex-fill">
                <div class="card-body filterable">
                    <div class="d-flex align-items-center mb-5">
                        <h2 class="m-0" style="font-size: 24px; color: var(--blue);">
                            Venituri <span class="text-success mr-2"><i class="fas fa-arrow-up" style="font-size: 24px;"></i></span>
                        </h2>
                        <button class="btn btn-primary bg-valexya border-valexya btn-filter ms-auto"><i class="fas fa-search"></i> Cautare</button>
                    </div>
                    <table class="table table-responsive" id="tabel-venituri">
                        <thead>
                            <tr class="filters">
                                <th><input type="text" class="form-control" placeholder="Factura" disabled></th>
                                <th><input type="text" class="form-control" placeholder="Client" disabled></th>
                                <th><input type="text" class="form-control" placeholder="Suma" disabled></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for invoice_car in invoices_car %}
                                {% if invoice_car.invoice.category == 'incoming' %}
                                    <tr>
                                        <td>{{ invoice_car.invoice.series }}{{ invoice_car.invoice.number }}</td>
                                        <td>{{ invoice_car.invoice.client }}</td>
                                        <td>{{ invoice_car.value }} {{ invoice_car.invoice.currency|upper }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('#category').change(function() {
      if ($(this).val() === 'outgoing') {
          $('#col_expense_category').show();
          $('#expense_category').prop('required', true);
      } else {
          $('#col_expense_category').hide();
          $('#expense_category').prop('required', false);
      }
    });
  </script>
{% endblock content %}