{% extends "base.html" %}

{% block content %}
    <div class="row"> 
        <div class="col-md-12 d-flex align-items-center">
            <h2 class="m-0 me-4" style="font-size: 24px; color: var(--blue);">Vezi situația</h2>
            <a href="#" class="btn btn-outline-primary border-valexya color-valexya me-2">Zilnică</a>
            <a href="#" class="btn btn-outline-primary border-valexya color-valexya me-2">Săptămânală</a>
            <a href="#" class="btn btn-outline-primary border-valexya color-valexya me-2">Lunară</a>
            <a href="#" class="btn btn-outline-primary border-valexya color-valexya">Anuală</a>
        </div>
    </div>
    <div class="row">
        
    </div>
{% endblock content %}