{% extends "base.html" %}

{% block content %}
    <div class="details d-inline-flex">
        <h1 style="padding-left: 20px; font-size: 32px; color: var(--blue);">Vezi stituatia:</h1>
        <div class="cardHeader2">
            <a href="#" class="btn">Zilnica</a>
        </div>
        <div class="cardHeader2">
            <a href="#" class="btn">Saptamanala</a>
        </div>
        <div class="cardHeader2">
            <a href="#" class="btn">Lunara</a>
        </div>
        <div class="cardHeader2">
            <a href="#" class="btn">Anuala</a>
        </div>
    </div>
    <div class="cardBox">
        <div class="card">
            <div>
                <div class="numbers">1,504</div>
                <div class="cardName">Venituri</div>
            </div>
            <div class="iconBx">
                <ion-icon name="card-outline"></ion-icon>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">80</div>
                <div class="cardName">Cheltuieli</div>
            </div>
            <div class="iconBx">
                <ion-icon name="bag-outline"></ion-icon>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">284</div>
                <div class="cardName">Balanta</div>
            </div>

            <div class="iconBx">
                <ion-icon name="cash-outline"></ion-icon>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">284</div>
                <div class="cardName">Profitabilitate</div>
            </div>

            <div class="iconBx">
                <ion-icon name="cash-outline"></ion-icon>
            </div>
        </div>
    </div>
    <!-- ================ Order Details List ================= -->
    <div class="details">
        <div class="recentOrders">
            <div class="cardHeader">
                <h2 style="font-size: 24px; padding-bottom: 20px;">Cheltuieli recente</h2>
            </div>
            <table id="tablestyle">
                <thead>
                    <tr>
                        <td style="width: 200px;">Furnizor</td>
                        <td style="width: 300px;">Descriere</td>
                        <td style="width: 100px;">Data</td>
                        <td slot="width: 60px">Pret</td>
                        <td style="width: 150px;">Status</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Star Refrigerator</td>
                        <td>Inlocuire placute frana, discuri, schimb ulei</td>
                        <td>23.02.204</td>
                        <td>2500 Lei</td>
                        <td><span class="status delivered">Platita</span></td>
                    </tr>
                    <tr>
                        <td>Dell Laptop</td>
                        <td>Inlocuire placute frana, discuri, schimb ulei</td>
                        <td>23.02.204</td>
                        <td>3500 Lei</td>
                        <td><span class="status return">Neplatita</span></td>
                    </tr>
                    <tr>
                        <td>Dell Laptop</td>
                        <td>Inlocuire placute frana, discuri, schimb ulei</td>
                        <td>23.02.204</td>
                        <td>3500 Lei</td>
                        <td><span class="status return">Neplatita</span></td>
                    </tr>
                    <tr>
                        <td>Dell Laptop</td>
                        <td>Inlocuire placute frana, discuri, schimb ulei</td>
                        <td>23.02.204</td>
                        <td>3500 Lei</td>
                        <td><span class="status return">Neplatita</span></td>
                    </tr>
                    <tr>
                        <td>Star Refrigerator</td>
                        <td>Inlocuire placute frana, discuri, schimb ulei</td>
                        <td>23.02.204</td>
                        <td>2500 Lei</td>
                        <td><span class="status delivered">Platita</span></td>
                    </tr>
                    <tr>
                        <td>Star Refrigerator</td>
                        <td>Inlocuire placute frana, discuri, schimb ulei</td>
                        <td>23.02.204</td>
                        <td>2500 Lei</td>
                        <td><span class="status delivered">Platita</span></td>
                    </tr>
                    <tr>
                        <td>Star Refrigerator</td>
                        <td>Inlocuire placute frana, discuri, schimb ulei</td>
                        <td>23.02.204</td>
                        <td>2500 Lei</td>
                        <td><span class="status delivered">Platita</span></td>
                    </tr>
                    <tr>
                        <td>Star Refrigerator</td>
                        <td>Inlocuire placute frana, discuri, schimb ulei</td>
                        <td>23.02.204</td>
                        <td>2500 Lei</td>
                        <td><span class="status delivered">Platita</span></td>
                    </tr>
                </tbody>
            </table>
            <div class="cardHeader">
                <a href="#" class="btn">Vezi mai multe</a>
            </div>
        </div>
        <!-- ================= New Customers ================ -->
        <div class="recentCustomers">
            <div class="cardHeader">
                <h2 style="font-size: 24px; padding-bottom: 20px;">Recent Customers</h2>
            </div>
            <table>
                <tr>
                    <td width="60px">
                        <!-- <div class="imgBx"><img src="{{ imgs }}customer02.jpg" alt=""></div> -->
                        <div class="imgBx"><img src="{{ imgs }}customer02.jpg" alt=""></div>
                    </td>
                    <td>
                        <h4>David <br> <span>Italy</span></h4>
                    </td>
                </tr>
                <tr>
                    <td width="60px">
                        <div class="imgBx"><img src="{{ imgs }}customer01.jpg" alt=""></div>
                    </td>
                    <td>
                        <h4>Amit <br> <span>India</span></h4>
                    </td>
                </tr>
                <tr>
                    <td width="60px">
                        <div class="imgBx"><img src="{{ imgs }}customer02.jpg" alt=""></div>
                    </td>
                    <td>
                        <h4>David <br> <span>Italy</span></h4>
                    </td>
                </tr>
                <tr>
                    <td width="60px">
                        <div class="imgBx"><img src="{{ imgs }}customer01.jpg" alt=""></div>
                    </td>
                    <td>
                        <h4>Amit <br> <span>India</span></h4>
                    </td>
                </tr>
                <tr>
                    <td width="60px">
                        <div class="imgBx"><img src="{{ imgs }}customer02.jpg" alt=""></div>
                    </td>
                    <td>
                        <h4>David <br> <span>Italy</span></h4>
                    </td>
                </tr>
                <tr>
                    <td width="60px">
                        <div class="imgBx"><img src="{{ imgs }}customer01.jpg" alt=""></div>
                    </td>
                    <td>
                        <h4>Amit <br> <span>India</span></h4>
                    </td>
                </tr>
                <tr>
                    <td width="60px">
                        <div class="imgBx"><img src="{{ imgs }}customer01.jpg" alt=""></div>
                    </td>
                    <td>
                        <h4>David <br> <span>Italy</span></h4>
                    </td>
                </tr>

                <tr>
                    <td width="60px">
                        <div class="imgBx"><img src="{{ imgs }}customer02.jpg" alt=""></div>
                    </td>
                    <td>
                        <h4>Amit <br> <span>India</span></h4>
                    </td>
                </tr>
            </table style="padding-bottom: 20px;">
            <div class="cardHeader" style="padding-top: 35px;">
                <a href="#" class="btn">Vezi mai multe</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}